@{
	Layout = "";
}
<GoogleCustomizations>
	<CustomSearchEngine>
		<Title>@ViewBag.BlogConfig.Title Search Engine</Title>
		<Description>
			A Google Custom Search Engine that includes Apostol Apostolov websites
		</Description>
		<Context>
			<BackgroundLabels>
			    <Label name="apostolapostolov" mode="FILTER"/>
			</BackgroundLabels>
		</Context>
		<LookAndFeel nonprofit="false"/>
	</CustomSearchEngine>

	<Annotations>
		<Annotation about="http://www.apostol-apostolov.com/">
			<Label name="apostolapostolov"/>
		</Annotation>
	</Annotations>
</GoogleCustomizations>